<amplify-authenticator>
  <ngx-spinner></ngx-spinner>
  <div>
    <amplify-button (click)="openAddDialog()">Create New Short URl</amplify-button>
    <amplify-sign-out></amplify-sign-out>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- UrlId Column -->
      <ng-container matColumnDef="urlId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.urlId}} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <!-- Short URL Column -->
      <ng-container matColumnDef="shortUrl">
        <mat-header-cell *matHeaderCellDef> Short URL </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.shortUrl}} </mat-cell>
      </ng-container>

      <!-- Long URL Column -->
      <ng-container matColumnDef="longUrl">
        <mat-header-cell *matHeaderCellDef> Long URL </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.longUrl}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="editShortUrl(element)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteShortUrl(element)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</amplify-authenticator>
